name: 'Release'

on:
  pull_request:
    types:
      - opened
      - closed
      - edited
      - labeled
      - unlabeled
      - synchronize
    branches:
      - main

permissions:
  contents: write

concurrency:
  group:
    'release-${{ github.event.pull_request.merge_commit_sha || github.sha }}'
  cancel-in-progress: true

jobs:
  semVersie:
    name: semVersie
    runs-on: semversie-runner
    permissions:
      contents: read
    outputs:
      release: ${{ steps.semVersie.outputs.release }}
      release-notes: ${{ steps.semVersie.outputs.release-notes }}
      prerelease: ${{ steps.semVersie.outputs.prerelease }}
      tag: ${{ steps.semVersie.outputs.tag }}
      version: ${{ steps.semVersie.outputs.version }}
      version-pep-440: ${{ steps.semVersie.outputs['version-pep-440'] }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        timeout-minutes: 5
        with:
          node-version: '24'
      - name: setup dependencies
        timeout-minutes: 5
        run: npm install
      - name: build distribution
        run: npm run build
      - id: semVersie
        name: semVersie
        uses: ./
        with:
          release-notes-format: 'docs/resources/release-format.md'

  release:
    name: Create Release
    needs: semVersie
    runs-on: semversie-runner
    permissions:
      contents: write # to be able to push commits and create releases
    if: needs.semVersie.outputs.release == 'true'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24'
      - name: install dependencies
        run: |
          npm install
      - name: update version in package.json
        run: |
          npm version ${{ needs.semVersie.outputs.version }} --no-git-tag-version
      - name: build distribution
        run: |
          npm run build
      - name: Commit version bump
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${GH_TOKEN}@github.com/${{ github.repository }}.git
          git switch -c release-${{ needs.semVersie.outputs.version }}
          # temporarily unignore dist/ to commit built files
          git add --force dist/* package.json package-lock.json
          git status
          git commit -m 'chore: bump version to ${{ needs.semVersie.outputs.version }}'
          git push --set-upstream origin release-${{ needs.semVersie.outputs.version }}
      - name: Tag Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git tag ${{ needs.semVersie.outputs.tag }}
          git push origin ${{ needs.semVersie.outputs.tag }}
      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ needs.semVersie.outputs.tag }} \
            --title '${{ needs.semVersie.outputs.tag }}' \
            --notes '${{ needs.semVersie.outputs.release-notes }}' \
            $([[ '${{ needs.semVersie.outputs.prerelease }}' == 'true' ]] && echo '--prerelease' || echo '')
      - name: clean up branch
        if: always()
        run: |
          git push origin --delete release-${{ needs.semVersie.outputs.version }}
