name: 'Release'

on:
  pull_request:
    types:
      - opened
      - closed
      - edited
      - labeled
      - unlabeled
      - synchronize
    branches:
      - main

concurrency:
  group: 'release-${{ github.event.pull_request.merge_commit_sha }}'
  cancel-in-progress: true

jobs:
  semVersie:
    name: semVersie
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      release: ${{ steps.semVersie.outputs.release }}
      release-notes: ${{ steps.semVersie.outputs.release-notes }}
      prerelease: ${{ steps.semVersie.outputs.prerelease }}
      tag: ${{ steps.semVersie.outputs.tag }}
      version: ${{ steps.semVersie.outputs.version }}
      version-pep-440: ${{ steps.semVersie.outputs['version-pep-440'] }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
      - name: Cache node modules
        timeout-minutes: 5
        uses: actions/cache@v4
        with:
          path: node_modules
          key: |
            ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-
      - name: setup dependencies
        timeout-minutes: 5
        run: npm install
      - name: build distribution
        run: npm run build
      - id: semVersie
        name: semVersie
        env:
          GITHUB_TOKEN: ${{ github.token }}
        uses: ./

  release:
    name: Create Release
    needs: semVersie
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to push commits and create releases
    if: needs.semVersie.outputs.release == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
      - name: Cache node modules
        timeout-minutes: 5
        uses: actions/cache@v4
        with:
          path: node_modules
          key: |
            ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-
      - name: update version in package.json
        run: |
          npm version ${{ needs.semVersie.outputs.version }} --no-git-tag-version
      - name: build distribution
        run: npm run build
      - name: Commit version bump
        if: needs.semVersie.outputs.release == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git switch -c release-${{ needs.semVersie.outputs.version }}
          # temporarily unignore dist/ to commit built files
          git add --force dist/ dist/index.js dist/package.json package.json package-lock.json
          git status
          git commit -m "chore: bump version to ${{ needs.semVersie.outputs.version }}"
          git push --set-upstream origin release-${{ needs.semVersie.outputs.version }}
      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ needs.semVersie.outputs.tag }} \
            --title "${{ needs.semVersie.outputs.tag }}" \
            --notes "${{ needs.semVersie.outputs.release-notes }}" \
            $([[ "${{ needs.semVersie.outputs.prerelease }}" == "true" ]] && echo "--prerelease" || echo "")
      - name: clean up branch
        if: always()
        run: |
          git push origin --delete release-${{ needs.semVersie.outputs.version }}
